#first_view { 
  color: white;
  
}

header  {
  background: radial-gradient(circle, #5B5B5B 2px, transparent 1px), #323231;
  background-size: 55px 55px;
}

h1.site-title {
  margin-top: 220px; /* adjust this value as needed */
  margin-left: 20px;
}

p.title_discription {
  margin-left: 30px;
}






/* layout change dot add pattern　*/