header {
  position: sticky;
  top: 0;
  border-bottom: 1.5px solid white;
  background: #323231; 
}

.select_items {
  padding: 20px; 
}

.menu_items ul.select_titles {
  list-style: none;
  padding: 18px 0px 10px 0px;
  display: flex;
  justify-content: flex-end;
}

.menu_items ul.select_titles li {
  display: inline-block;
  margin-left: 50px;
}

.menu_items ul.select_titles a {
  color: white;
  text-decoration: none;
}

