.menu_items,
#study,
#self_work ,
#dev-experience,
#profile
 {
  position: sticky;
  top: 0;
  z-index: 100; /* This makes sure the sticky menu is above all other elements */
}

.menu_items ul.select_titles {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.menu_items ul.select_titles li {
  display: inline-block;
  margin-left: 50px;
}

.menu_items ul.select_titles a {
  color: white;
  text-decoration: none;
}

